<md-card>
  <md-card-header>
    <h2>Edit a card</h2>
  </md-card-header>

  <form [formGroup]="cardForm" (ngSubmit)="submit()">
    <md-card-content>
      <md-form-field class="title-input input-full-width">
        <input mdInput
               [formControl]="cardForm.controls.title"
               type="text"
               [placeholder]="card.title || 'Card\'s title'">
      </md-form-field>

      <md-form-field class="conent-input input-full-width">
        <input mdInput
               [formControl]="cardForm.controls.content"
               type="text"
               [placeholder]="card.content || 'Card\'s content'">
      </md-form-field>
    </md-card-content>

    <md-card-actions>
      <button type="submit" md-raised-button color="primary">Submit</button>
    </md-card-actions>
  </form>
</md-card>
