<md-toolbar color="primary">
  <span>Sparkle</span>

  <span class="toolbar-spacer"></span>

  <a *ngIf="currentUser$ | async"
     class="menu-link"
     routerLink="/dashboard"
     routerLinkActive="active-link"
     md-button>Dashboard</a>

  <button md-icon-button>
    <md-icon>notifications</md-icon>
    <span class="notification-number">5</span>
  </button>
  <button md-icon-button
          [mdMenuTriggerFor]="profileMenu">
    <app-profile-picture></app-profile-picture>
  </button>
  <md-menu #profileMenu="mdMenu">
    <button md-menu-item>Profile</button>
    <button md-menu-item (click)="signOut()">Sign out</button>
  </md-menu>

</md-toolbar>
