<h2>Sign Up</h2>
<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
  <div class="form-group form-authentication">
      <md-form-field class="email-input input-full-width">
        <input mdInput
               [formControl]="signUpForm.controls.email"
               type="text"
               placeholder="Your email">
      </md-form-field>

      <md-form-field class="password-input input-full-width">
        <input mdInput
               [formControl]="signUpForm.controls.password"
               type="password"
               placeholder="Your password">
      </md-form-field>

    <div class="form-btn">
      <a (click)="router.navigate(['auth', 'sign-in'])" md-button>Already have an account?</a>
      <button type="submit" md-raised-button color="primary">Sign up</button>
    </div>
  </div>
</form>
