<md-card>
  <md-card-header>
    <h4>Sign up to your Sparkle account</h4>
  </md-card-header>

  <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
    <md-card-content>
      <md-form-field class="email-input input-full-width">
        <input mdInput
               [formControl]="signUpForm.controls.email"
               type="text"
               placeholder="Your email">
      </md-form-field>

      <md-form-field class="password-input input-full-width">
        <input mdInput
               [formControl]="signUpForm.controls.password"
               type="password"
               placeholder="Your password">
      </md-form-field>

      <md-checkbox [formControl]="signUpForm.controls.terms">
        Agree the terms and policy</md-checkbox>
    </md-card-content>
    <md-card-actions>
      <a (click)="router.navigate(['auth', 'sign-in'])" md-button>Already have an account?</a>
      <button type="submit" md-raised-button color="primary">Sign up</button>
    </md-card-actions>
  </form>
</md-card>
