<md-card>
  <md-card-header>
    <h4>Sign in with your Sparkle account</h4>
  </md-card-header>

  <form [formGroup]="signInForm" (ngSubmit)="signIn()">
    <md-card-content>
      <div class="form-group form-authentication">
        <md-form-field class="email-input input-full-width">
          <input mdInput
                 [formControl]="signInForm.controls.email"
                 type="text"
                 placeholder="Your email">
        </md-form-field>

        <md-form-field class="password-input  input-full-width">
          <input mdInput
                 [formControl]="signInForm.controls.password"
                 type="password"
                 placeholder="Your password">
        </md-form-field>
      </div>
    </md-card-content>
    <md-card-actions>
      <a (click)="router.navigate(['auth', 'sign-up'])" md-button>Don't have an account?</a>
      <button type="submit" md-raised-button color="primary">Sign in</button>
    </md-card-actions>
  </form>
</md-card>
