@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  background: #F0F0F0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.menu-link.active-link .mat-button-focus-overlay {
  opacity: 1;
}

.input-full-width {
  width: 100%;
}

.input-container {
  padding: 16px 0;
}
